function Board.new 3
push constant 6
call Memory.alloc 1
pop pointer 0
push argument 0
push constant 1
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 10
pop argument 0
label IF_FALSE0
push argument 1
push constant 1
lt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 18
pop argument 1
label IF_FALSE1
push argument 1
pop this 1
push constant 256
push this 1
call Math.divide 2
pop this 2
push this 2
call Array.new 1
pop this 0
push argument 0
push constant 512
push this 1
push constant 2
add
call Math.divide 2
call Math.min 2
pop this 3
push constant 255
push this 3
push constant 2
call Math.divide 2
push constant 1
add
push this 1
call Math.multiply 2
sub
push this 1
push constant 2
call Math.divide 2
add
pop this 4
push this 4
push this 3
push this 1
push constant 2
add
call Math.multiply 2
add
push constant 511
call Math.min 2
pop this 5
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push this 2
lt
not
if-goto WHILE_END0
push local 0
push this 0
add
push this 3
call Array.new 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push this 0
add
pop pointer 1
push that 0
pop local 2
push constant 0
pop local 1
label WHILE_EXP1
push local 1
push this 3
lt
not
if-goto WHILE_END1
push local 1
push local 2
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP1
label WHILE_END1
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 0
push constant 0
push constant 511
push constant 255
call Screen.drawRectangle 4
pop temp 0
push pointer 0
call Board.draw 1
pop temp 0
push pointer 0
return
function Board.dispose 2
push argument 0
pop pointer 0
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push this 2
lt
not
if-goto WHILE_END0
push local 0
push this 0
add
pop pointer 1
push that 0
pop local 1
push local 1
call Array.dispose 1
pop temp 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push this 0
call Array.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Board.getAt 1
push argument 0
pop pointer 0
push argument 1
push this 0
add
pop pointer 1
push that 0
pop local 0
push argument 2
push local 0
add
pop pointer 1
push that 0
return
function Board.isValidRow 0
push argument 0
pop pointer 0
push argument 1
push this 2
lt
push argument 1
push constant 1
neg
gt
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
return
label IF_FALSE0
push constant 0
return
function Board.isValidCol 0
push argument 0
pop pointer 0
push argument 1
push this 3
lt
push argument 1
push constant 1
neg
gt
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
return
label IF_FALSE0
push constant 0
return
function Board.draw 8
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push this 4
push constant 2
sub
call Math.abs 1
push this 4
call Math.min 2
pop local 0
push local 0
push constant 0
push this 5
push constant 255
call Screen.drawRectangle 4
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 0
pop local 0
push this 1
push constant 2
add
pop local 6
label WHILE_EXP0
push local 0
push this 2
lt
not
if-goto WHILE_END0
push constant 0
pop local 1
push local 0
push this 0
add
pop pointer 1
push that 0
pop local 7
push local 0
push local 6
call Math.multiply 2
pop local 3
push local 3
push this 1
add
push constant 255
call Math.min 2
pop local 5
label WHILE_EXP1
push local 1
push this 3
lt
not
if-goto WHILE_END1
push local 1
push local 7
add
pop pointer 1
push that 0
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 4
push local 1
push local 6
call Math.multiply 2
add
pop local 2
push local 2
push this 1
add
push constant 511
call Math.min 2
pop local 4
push local 2
push local 3
push local 4
push local 5
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP1
label WHILE_END1
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Board.set 1
push argument 0
pop pointer 0
push pointer 0
push argument 1
call Board.isValidRow 2
push pointer 0
push argument 2
call Board.isValidCol 2
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 1
push this 0
add
pop pointer 1
push that 0
pop local 0
push argument 2
push local 0
add
push constant 0
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
label IF_FALSE0
push constant 0
return
function Board.unset 5
push argument 0
pop pointer 0
push pointer 0
push argument 1
call Board.isValidRow 2
push pointer 0
push argument 2
call Board.isValidCol 2
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 1
push this 0
add
pop pointer 1
push that 0
pop local 4
push argument 2
push local 4
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push argument 3
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push argument 1
push this 1
push constant 2
add
call Math.multiply 2
pop local 0
push local 0
push this 1
add
push constant 255
call Math.min 2
pop local 1
push this 4
push argument 2
push this 1
push constant 2
add
call Math.multiply 2
add
pop local 2
push local 2
push this 1
add
push constant 511
call Math.min 2
pop local 3
push constant 0
call Screen.setColor 1
pop temp 0
push local 2
push local 0
push local 3
push local 1
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE1
label IF_FALSE0
push constant 0
return
function Board.finalize 8
push argument 0
pop pointer 0
push argument 1
call Shape.getTop 1
pop local 2
push argument 1
call Shape.getLeft 1
pop local 3
push argument 1
call Shape.getHeight 1
pop local 4
push argument 1
call Shape.getWidth 1
pop local 5
push argument 1
call Shape.getShape 1
pop local 7
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push local 4
lt
not
if-goto WHILE_END0
push constant 0
pop local 1
push local 0
push local 7
add
pop pointer 1
push that 0
pop local 6
label WHILE_EXP1
push local 1
push local 5
lt
not
if-goto WHILE_END1
push local 1
push local 6
add
pop pointer 1
push that 0
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
push local 2
push local 0
add
push local 3
push local 1
add
call Board.set 3
pop temp 0
label IF_FALSE0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP1
label WHILE_END1
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push argument 1
call Shape.dispose 1
pop temp 0
push pointer 0
call Board.draw 1
pop temp 0
push pointer 0
call Board.clearLines 1
return
function Board.clearLines 4
push argument 0
pop pointer 0
push constant 0
pop local 2
push this 2
push constant 1
sub
pop local 0
label WHILE_EXP0
push local 0
push constant 1
neg
gt
not
if-goto WHILE_END0
push constant 0
not
pop local 3
push constant 0
pop local 1
label WHILE_EXP1
push local 1
push this 3
lt
not
if-goto WHILE_END1
push pointer 0
push local 0
push local 1
call Board.getAt 3
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
pop local 3
push this 3
pop local 1
label IF_FALSE0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP1
label WHILE_END1
push local 3
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 2
push constant 1
add
pop local 2
push constant 0
pop local 1
label WHILE_EXP2
push local 1
push this 3
lt
not
if-goto WHILE_END2
push pointer 0
push local 0
push local 1
push constant 0
not
call Board.unset 4
pop temp 0
push constant 10
call Sys.wait 1
pop temp 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP2
label WHILE_END2
push local 0
push this 0
add
pop pointer 1
push that 0
call Memory.deAlloc 1
pop temp 0
push local 0
pop local 1
label WHILE_EXP3
push local 1
push constant 0
gt
not
if-goto WHILE_END3
push local 1
push this 0
add
push local 1
push constant 1
sub
push this 0
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push constant 1
sub
pop local 1
goto WHILE_EXP3
label WHILE_END3
push constant 0
push this 0
add
push this 3
call Array.new 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
pop local 1
label WHILE_EXP4
push local 1
push this 3
lt
not
if-goto WHILE_END4
push pointer 0
push constant 0
push local 1
push constant 0
call Board.unset 4
pop temp 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP4
label WHILE_END4
push constant 50
call Sys.wait 1
pop temp 0
push pointer 0
call Board.draw 1
pop temp 0
goto IF_END1
label IF_FALSE1
push local 0
push constant 1
sub
pop local 0
label IF_END1
goto WHILE_EXP0
label WHILE_END0
push local 2
return
function Board.getRectSize 0
push argument 0
pop pointer 0
push this 1
return
function Board.getLeft 0
push argument 0
pop pointer 0
push this 4
return
function Board.getRight 0
push argument 0
pop pointer 0
push this 5
return
function Board.getCols 0
push argument 0
pop pointer 0
push this 3
return
